.card-wrapper-v {
  box-shadow: 1px 1px rgba(0,0,0,0.1), -1px -1px var(--box-shadow-black05);
  margin: 1rem;
}

.wishlist {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.icon-wishlist {
  width: 3rem;
  height: 3rem;
  color: var(--red);
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 15px 10px var(--box-shadow-black05);
  cursor: pointer;
}
